[submodule "TPs_Embebidos_FIUBA"]
	path = TPs_Embebidos_FIUBA
	url = git@github.com:juanmaher/TPs_Embebidos_FIUBA.git
[submodule "TP_Final/AutoCompost"]
	path = TP_Final/AutoCompost
	url = git@github.com:juanmaher/AutoCompost.git
